.products {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
}

.products_item {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    border: solid;
    min-height: 80px;
    display: grid;
    justify-items: center;
    
}

button {
    margin-block-end: 20px;
    cursor: pointer;
    font-weight: 900;
    font-size: larger;
}

.products img {
    width: 40%;
    margin: 25px;
}

.products_buttons{
    display: flex;
    width: 50px;
    height: 70px;
    align-content: center;
}

.btn_delete{
    background: transparent;
    border: none !important;
    font-size:0;
    
}

