.welcome {
    margin: 1%;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.entrada {
    margin-left: 1%;
}

.products {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    padding: 15px;
}

.products_item {
    border: solid;
    min-height: 80px;
    display: grid;
    justify-items: center;
}

button {
    cursor: pointer;
    margin: 10px;
    font-weight: 900;
    font-size: larger;
}

.products img {
    width: 40%;
    margin: 25px;
}