* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flash {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffe79f;
  margin-left: 8%;
  margin-top: 1%;
  border-radius: 50px;
  width: 80%;
}

header div {
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: flex-end;
}

a {
  display: inline-block;
  text-decoration: none;
}

.logo_img {
  display: block;
  height: 70px;
  margin-left: 5px;
}

body {
  font-family: "open sans", sans-serif;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  height: 120px;
  position: sticky;
  top: 0;
  background-color: rgb(211, 17, 17);
  position: sticky;
  z-index: 50;
  border: solid black;
}

.title {
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 15px;
  font-weight: 500;
  color: #fff;
}

.pag_name {
  display: block;
  font-size: 20px;
  margin: 5px;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.icon_menu {
  margin-right: 30px;
  color: black;
  display: flex;
  position: relative;
  z-index: 50;
  display: block;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.nav {
  display: flex;
  position: absolute;
  top: 20px;
  right: -100%;
  transition: all 1s ease-in-out;
  min-width: 1%;
  background-color: aliceblue;
}

.Menu {
  position: absolute;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 13px;
  gap: 30px;
}

.Menu_link {
  display: block;
  padding: 10px;
  background-color: #333;
  border: solid black;
  color: aliceblue;
  text-decoration: none;
  font-size: 22px;
}

.Menu_link:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.cMostrar {
  right: -15%;
  width: 50%;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

footer p {
  line-height: 30px;
  margin-left: 20px;
}

footer a {
  display: flex;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40%;
}

@media (max-width: 1200px) {
  .logo_img {
    margin-left: 5px;
  }

  .pag_name {
    font-size: 18px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 500;
    margin-left: 15px;
    color: #fff;
  }

  .nav {
    font: 5px;
    margin-top: 18px;
  }

  .Menu {
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: -5px;
    gap: 10px;
  }

  .Menu_link {
    display: block;
    padding: 10px;
    background-color: #333;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
  }

  .cMostrar {
    right: 15%;
    width: 30%;
  }

  .item_txt {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
  }

  .rate {
    height: 30px;
    position: absolute;
    right: 0;
    top: 89%;
  }

  .footer_container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
  }

  footer p {
    line-height: 30px;
    margin-left: 20px;
    font-size: 20px;
  }

  footer a {
    display: flex;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}