#edit, #delet{
    width: 25px;
    height: 25px;
    margin-left: 550px;
    margin-top: 0px;
    /*text-align: right;*/
    line-height: 40px;
    cursor: pointer;
}
/*.menu_comentario{
    position: absolute;
    margin-left: 430px;
    margin-top: -10px;
}
.menu_comentario{
    position: absolute;
    margin-left: -900px;
    margin-top: -10px;
}
.menu_comentario2{
    position: absolute;
    margin-left: -900px;
    margin-top: -10px;
}
.opciones_cmt{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu_link{
    font-size: small;
    font-family: Verdana;
    background-color: rgb(202, 199, 199);
    color: black;
    margin: 0px;
    text-decoration: none;
    display: block;
}
.cDesplegar1{
    position: absolute;
    margin-left: 430px;
    margin-top: -10px;
}
/*.cDesplegar2{
    position: absolute;
    margin-left: 428px;
    margin-top: -10px;
}*/
#btn_comentar{
    background-color: orange;
    width: 105px;
    margin-top: -63px;
    margin-left: -40px;

}
.lbl{
    float: left;
    width: 230px;
}
.txt_micomentario{
    font-family: Verdana;
    float: left;
}

@media (min-width: 1540px) {
    #btn_comentar{
        background-color: rgb(255, 166, 0);
        width: 104px;
        margin-top: 0px;
        margin-left: 1px;
    }
    footer {
        margin-top: 610px;
    }
    .comentarios {
        display: inline-flex;
    }
    .lateral {
        margin-left: 12%;
    }
    .cont_prod {
        margin-left: 3%;
    }
    #puntos_comt1{
        margin-left: 72%;
    }
    /*.cDesplegar1 {
        margin-left: 678px;
        margin-top: -3px;
    }
    .coment2 {
        overflow: hidden;
    }
    .menu_comentario2 {
        margin-left: -100%;
    }*/
    .lbl {
        display: flex;
    }
    .input_rate {
        width: 25%;
        margin-right: 1%;
    }
    .micomentario {
        display: inline-block;
    }

}