.producto {
  margin: 10px;
  border: solid black;
  width: 400px;
  float: left;
  height: 300px;
  background-color: rgba(234, 234, 248, 0.794);
}
.Foto_prod {
  margin: 0;
  width: 100%;
  height: 100%;
  float: left;
}
.cont_prod {
  margin-top: 10px;
  margin: 10px;
  width: 400px;
  float: left;
  height: 300px;
}
.nombre_producto {
  padding-top: 30px;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.txt_descripcion {
  padding-top: 20px;
  width: 380px;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.lateral {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  width: 480px;
  float: left;
  height: 300px;
}
.precio_prod {
  font-size: 35px;
  text-align: left;
  margin-top: 25px;
  margin-left: 20px;
}
.logo_btns {
  width: 40px;
  height: 35px;
  display: inline-block;
  margin-top: -35px;
  margin-left: 160px;
  text-align: center;
}
#Corazon {
  margin-left: 200px;
}
#estrella {
  margin-left: 10px;
}
.btn_c {
  size: 50px;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: -7px;
  width: 150px;
  padding: 10px;
  font-weight: bold normal;
  font-family: Verdana;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#btn_deseos {
  margin-left: 90px;
}
.rate {
  margin-left: 40px;
  margin-top: -20px;
}
#num {
  margin-top: 5px;
  font-size: 34px;
}
.linea {
  display: inline-block;
}
.user_coment {
  margin: 10px;
}
.tt_coment {
  display: inline-block;
  margin: 20px;
}
.Filtro {
  size: 40px;
  margin-left: 20px;
  width: 220px;
  padding: 10px;
  font-weight: bold 25px;
  font-family: Verdana;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: solid black 2px;
}
h4 {
  font-family: Verdana;
}
.comentario {
  border: solid black 2px;
  margin: 10px;
  width: 45%;
  float: left;
}
.logo_star {
  width: 15px;
  height: 15px;
  margin-left: 35px;
}
.user_name,
.cuerpo_com {
  margin: 7px;
  margin-left: 10px;
}
.titulo{
  margin-left: 10px;
  
}
/*.micomentario {
  
  float: left;
  margin: 10px ;
  overflow: hidden;
  padding: 0;
  width: 680px;
  background-color: brown;
  display: flexbox;
}*/
.input_rate {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-family: Verdana;
}
#btn_comentar {
  background-color: orange;
  width: 105px;
  margin-top: 5px;
  display: inline-block;
}
.lbl {
  float: right;
  width: 230px;
}
.txt_micomentario {
  font-family: Verdana;
}

@media (min-width: 1540px) {
  footer {
    margin-top: 10%;
  }
  .cont_prod {
    margin-left: 3%;
  }
  .lateral {
    margin-left: 10%;
  }
  .comentarios {
    display: inline-block;
  }
  .micomentario {
    margin: 5px;
    width: 45%;
    float: left;
  }
  .txt_micomentario {
    margin-left: 7px;
  }
  .lbl {
    width: 260px;
    margin-right: 11%;
  }
  #btn_comentar {
    width: 134px;
    margin-top: -63px;
    margin-left: 498px;
  }
  #puntos_comt1{
    margin-left: 72%;
  }
}
