.all_div{
    width: 100%;
    height: 533px;
    gap: 10px;
    padding: 10px;
    background: white;
    display:flex;
    font-size: 20px;
    color: black;
}
.txt_input{
    width: 250px;
}
input[type=button]{
    font-size:18px;
    padding:2.5px;
}
/* Divisor 1 */
.div_img_user{
    width: 33%;
    border-right: 1px solid black;
}

.items_img_user{
    position:relative;
    top: 35%;
    left:20%;
}

.items_info_user{
    position:relative;
    top:30%;
    left:20%;
}

.items_credenciales{
    position:relative;
    top:30%;
    left:20%;
}

.img_perfil_txt{
    margin-left: 70px;
}

.img_user{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-left:45px;
}

.btn_load_img{
    width: 140px;
    margin-left:70px;
}

.archivo_txt{
    padding-top: 15px;
}

.ruta_img{
    padding-bottom: 15px;
}

.Guardar{
    width: 80px;
    position: relative;
    left:20px;
}

.Cancelar{
    width: 90px;
    position:relative;
    left:60px;
}
/*Divisor info*/
.info{
    width: 67%;
    display: flex;
}
/* Divisor 2 */
.info_user{
    width: 50%;
    border-right: 1px solid black;
}

.espacios{
    padding-bottom: 20px
}
/* Divisor 3 */
.condiciones{
    display: flex;
}

.cbx_condiciones{
    transform: scale(1.5);
}

.cbx_txt{
    font-size: 16px;
    display: inline;
    padding-left: 5px;
}
.Registrarse{
    width: 110px;
    margin-left:145px;
    margin-top: 30px;
}
footer {
    margin-top: 13%;
}