.info_prod_deseo{
    display: inline-block;
    margin: 10px;
    background-color: rgb(152, 176, 255);
}
.prod_list{
    width: 20%;
    height: 20%;
    margin: 20px;
    margin-left: 80px;
    float: left;
}
.cont_prod{
    float: left;
    width: 40%;
    align-items: center;
    margin-left: 30px;
    margin-top: 60px;
    font-family: Verdana;
}
h4{
    margin-top: 15px;
}
.alinea{
    display: inline-block;
    font-size: 20px;
}
.nombre_producto{
    margin-bottom: 10px;
}
.botones{
    float: left;
    width: 300px;
    margin-top: 60px;
}
.logo_btns{
    width: 43px;
    height: 38px;
    display: inline-block;
    margin-top: -35px;
    margin-bottom: -26px;
    margin-left: 170px;
    text-align: center;
}
#Corazon{
    margin-left: 170px;
    margin-bottom: -95px;
}
.btn_c{
    size: 40px;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 45px;
    margin-top: 0px;
    width: 150px;
	padding: 10px;
	font-weight: bold normal;
	font-family: Verdana;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	transition: all .5s ease;
}