{% extends "base/base.html" %}

{% block title %} Editar Comentario {% endblock %}
{% block stylesheet %}
<!--referencia del css
<link rel="stylesheet" href="{{url_for('static',filename='css/producto.css')}}" />-->
{% endblock %}

{% block namesheet %} EDITAR COMENTARIO{% endblock %}

{% block content %}
<main>
  <!--PROGAMAR VISTA-->
  <form id="form_comentarioeditado" action="/editar_comentario/{{Nombre}}/{{Rate}}" method="POST">
      <div class="seccion1">
        <h2>Corrija su Comentario</h2>
          <h3 class="usuario" name="usuario" id="usuario">{{Usuario}}</h3>
          <p class="comentario_nuevo" name="cmt_nuevo"><textarea name="coment_nuevo" size="40" value=comt>{{Comentario}}</textarea></p>
          <input type="submit" value="Actualizar" class="btn_c" id="btn_editar">
      </div>

  </form>
  
</main>
{% endblock %}

{% block script %}
<!--BLOQUE SCRIPT-->
<script src="{{url_for('static',filename='js/main.js')}}" type="module"></script>
{% endblock %}