{% extends "base/base.html" %}

{% block title %} Eliminar Usuario {% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='css/delete_user.css')}}" />
{% endblock %}

{% block namesheet %}Eliminar Usuario{% endblock %}

{% block content %}

<main>

    <div class="tabla_delete">
        <table>
            {% for data in data %}
            <tr>
                <td>{{data.0}}</td>
                <td>{{data.1}}</td>
                <td>{{data.3}}</td>
                <td>{{data.2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form action="/dashboard/eliminar_usuario" method="post">
        <div class="elim">
            <input type="email" name="usuario" id="" class="txt_ejem" placeholder="Usuario Ej: ejemplo@ejemplo.com">
            <button type="submit" class="btn_elim">Eliminar</button>        
        </div>
    </form>
</main>

{% endblock %}

{% block script %}
<script src="{{url_for('static',filename='js/menu.js')}}" type="module"></script>
{% endblock %}