{% extends "base/base.html" %} {% block title %} Mis Compras {% endblock %}
{% block stylesheet %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/Compra_style.css')}}"
/>
{% endblock %}

{% block namesheet %}MIS COMPRAS{% endblock %}

{% block content %}

    <!-- {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %} -->

    <main>

<!--       {% with messages = get_flashed_messages() %}
      {% if messages  %}   
          <ul>
              {% for message in messages %}
                  <li style="background: rgb(0, 255, 55); color:rgb(9, 255, 50) font-size 20px">
                      {{ message }}
                  </li>
              {% endfor %} 
          
          </ul>
      {% endif %} 
  {% endwith %} -->



      <div class="grid">
        {% for r in row  %}
        <div class="item">
          <p class="product_name"><b>{{r["Nom_producto"]}}</b></p>
          {% if r["URL_prod"] == None %}
            <img src="/static/img/paquete.png" alt="Producto" class="logo_product" />
          {% else %}
            <img src="{{r['URL_prod']}}" alt="Producto" class="logo_product" />
          {% endif %}
          <p class="item_txt">
            {{r["Descripcion"]}}
          </p>
          <a href="/miscomentarios/{{r['Nom_producto']}}"
            ><img src="{{url_for('static',filename='img/rate.png')}}" alt="Calificacion" class="rate"
          /></a>
        </div>
        {% endfor %}
      </div>  
      
        
      
    </main>

    {% endblock %} 

{% block script %}
<script
  src="{{url_for('static',filename='js/menu.js')}}"
  type="module"
></script>
{% endblock %}