{% extends "base/base.html" %}

{% block title %} Mis Comentarios {% endblock %}
{% block stylesheet %}
<!--referencia del css-->
<link rel="stylesheet" href="{{url_for('static',filename='css/producto.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/miscomentarios.css')}}" />
{% endblock %}

{% block namesheet %} MIS COMENTARIOS {% endblock %}

{% block content %}
<main>
  <!--PROGAMAR VISTA-->
  <form id="form_producto" action="/miscomentarios/{{Nombre}}" method="POST">
    <div class="producto" id="producto">
      <img src="{{path_img}}" alt="Foto" class="Foto_prod"/>
    </div>
  
    <div class="cont_prod">
      <h3 class="nombre_producto" name="nombre_prod" id="name_pd">{{Nombre}}</h3>
      <p class="txt_descripcion" name="descripcion">Descripción del producto: {{Descripcion}}</p>
    </div>
  
    <div class="lateral">
      <h3 class="precio_prod" name="precio">$ {{Precio}}</h3>
      <br><br><br>
      <img src="{{url_for('static',filename='img/Cart.png')}}" alt="Carrito" class="logo_btns"/>
      <img src="{{url_for('static',filename='img/Heart.png')}}" alt="Corazon" class="logo_btns" id="Corazon"/>
      <input type="submit" value="Comprar" class="btn_c" id="btn_comprar">
      <input type="submit" value="Lista de deseos" class="btn_c" id="btn_deseos">
      <br><br>
      <h4 class="rate">Puntuaciones</h4>
      <p class="rate linea" id="num">{{Rate}}</p>
      <img src="{{url_for('static',filename='img/Star.png')}}" alt="Estrella" class="logo_btns linea" id="estrella">
    </div>
  
    <div class="comentarios" id="comentar">
      <div class="select_coment">
        <h2 class="tt_coment"><b>Comentarios</b></h2>
        <a class="Filtro tt_coment" href="/producto/{{Nombre}}" name="btn_micoment">Todos los comentarios</a>
      </div>
  
      <section class="user_coment">
        
          <!--CODIGO DE MIS COMENTARIOS-->
        {% for r in row  %}
          <div class="comentario">
            <h4 class="user_name linea">{{r["Usuario"]}}</h4>
            <img src="{{url_for('static',filename='img/star_comentario.png')}}" alt="Star" class="logo_star linea" id="star_comt">
            <p class="rate_comt linea" id="rate_c">{{r["Calificacion"]}}</p>
            <p class="cuerpo_com" id="cuerpocomnt">{{r["Comentario"]}}</p>
            
            <a href="/editar_comentario/{{Nombre}}/{{r['Calificacion']}}"><img src="{{url_for('static',filename='img/editar2.png')}}" alt="edita" class="logo_star linea" id="edit"> </a>
            <a href="/miscomentarios/eliminar/{{Nombre}}/{{r['Calificacion']}}"><img src="{{url_for('static',filename='img/eliminar.png')}}" alt="elimina" class="logo_star linea" id="delet"></a>
          </div>
      {% endfor %}
  
          <div class="micomentario">
            <h4 class="user_name">{{Usuario}}</h4>
            <textarea name="mi_comentario" placeholder="Escribe tu comentario" class="txt_micomentario" id="txa_micomentario" cols="50" rows="3"></textarea>
            <div class="lbl">
              <label><b>Puntaje</b></label>
              <input type="text" name="calificacion" style="width: 25%" placeholder="Rate" class="input_rate" id="txt_mipuntaje">
            </div>
            <input type="submit" value="Comentar" class="btn_c" id="btn_comentar">
          </div> 

      </section>
    </div>
  </form>
  
</main>
{% endblock %}

{% block script %}
<!--BLOQUE SCRIPT-->
<script src="{{url_for('static',filename='js/comentario.js')}}" type="module"></script>
{% endblock %}