{% extends "base/base.html" %} {% block title %}Inicio TJX e-Commerce{% endblock %}
{% block stylesheet %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='CSS/tienda_style.css')}}"
/>
{% endblock %}

{% block namesheet %}TIENDA{% endblock %}

{% block content %}

<main>

  <form action="/Tienda" method="POST">
    <div class="consultar">
      <h2>Consultar Producto</h2>
      <br>
      <input type="text" name="consulta" id="consulta">
      <button type="submit" class="btn-consultar">Consultar</button>
    </div>
</form>

  <div class="products">
    {% for r in row  %}
    <div class="products_item">
      <h2>{{r["Nombre"]}}</h2>
      {% if r["URL_prod"] == None %}
        <img src="/static/img/paquete.png" alt="" />
      {% else %}
        <img src="/static/img/img_products/{{r['URL_prod']}}" alt="" />
      {% endif %}
      <p>{{r["Descripcion"]}}</p>
      <a href="/producto/{{r['Nombre']}}"><button type="button">Comprar</button></a>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock %} 

{% block script %}
<script
  src="{{url_for('static',filename='js/menu.js')}}"
  type="module"
></script>
{% endblock %}